<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BOT_TOKEN_FILE_PATH" value="C:\TelegramBotKorolev\token.txt" />
		<add key="TEST_PATH" value="C:\TelegramBotKorolev\Data\main.tes" />
		<add key="ENCYCLOPEDIA_PATH" value="C:\TelegramBotKorolev\Data\main_enc\main.enc" />
		<add key="MAINMEDIA_PATH" value="C:\TelegramBotKorolev\Data\mp" />
		<add key="MAINMENU_PATH" value="C:\TelegramBotKorolev\Data\menu.txt" />
		
	</appSettings>

</configuration>